<%- include("partial/header") -%>
    <main>
        <div class="main">
            <h1>About page</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, aliquam cum. Rem voluptate ab vero sunt et
                aperiam eligendi, suscipit nisi ducimus fugiat voluptates necessitatibus omnis, iste sint nulla, officiis
                minima. Aliquam molestiae alias explicabo, aliquid accusamus quaerat beatae ab eaque quia nisi eum illum
                voluptatem reiciendis maiores culpa necessitatibus, doloribus id modi delectus! Quam molestiae fugit fugiat
                doloremque veniam tenetur animi quia eveniet. Quisquam aliquid reprehenderit minus dolor totam, beatae eaque
                cupiditate quod at! Temporibus maiores libero est tenetur, dolores ut placeat dolor, ducimus rem quisquam
                eius architecto? Debitis eos hic recusandae libero illo aliquam similique incidunt quidem eligendi. Dolorum
                id laudantium odio voluptatibus dolorem perspiciatis eaque. Soluta consequatur optio enim, provident
                excepturi, repellat aspernatur commodi saepe totam laboriosam quisquam assumenda esse neque. Debitis dolorem
                in quisquam porro labore aut voluptate excepturi corrupti consequatur explicabo ea accusantium nostrum
                neque, sit maiores beatae incidunt numquam obcaecati totam hic unde? Veniam!
            </p>
        </div>
    </main>
<%- include("partial/footer") -%>