<%- include("partial/header") -%>
    <main>
        <div class="main">
           
                <h1><%= header.title %></h1>                
                <p><%= header.content %></p>
    
              
        </div>
    </main>
<%- include("partial/footer") -%>