<%- include("partial/header") -%>
<main>
    <div class="main">
        <form action="/" method="post">
            <label for="">Header</label>
            <input type="text" placeholder="Enter the header" name="header"> <br>
            <label for="">Content</label>
            <textarea id="" name="content"></textarea>
            <button type="submit" name="submit" value=header>Submit</button>
         </form>
    </div>
</main>
 
<%- include("partial/footer") -%>